{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="card" style="width: 25rem; margin: 20px;">
        <div class="card-body">
          <h5 class="card-title">Cambiar la contraseña</h5> 
          <div class="alert alert-danger {% if not error %}d-none {%endif%}" role="alert">    
            {{error}}
          </div>          
          <form action="{% url 'update_password'%}" method="POST">
            {% csrf_token %}
              {% for field in form %}
              <div class="mb-3">                
                <label for="{{field.id_for_label}}" class="form-label"><strong>{{ field.label }}</strong></label>
                {{ field }}
                {% if field.errors %}
                  <div class="text-danger">{{ field.errors }}</div>
                {% endif %}
              </div>
              {% endfor %}
            {% comment %} {{ form.as_p }} {% endcomment %}
            {% comment %} <div class="mb-3">
              <label for="contrasenha_actual" class="form-label">Contraseña Actual</label>
              <input type="password" class="form-control" id="contrasenha_actual" name="contrasenha_actual" required>
            </div> 
            <div class="mb-3">
              <label for="nueva_contrasenha" class="form-label">Nueva Contraseña</label>
              <input type="password" class="form-control" id="nueva_contrasenha" name="nueva_contrasenha" required>
            </div> 
            <div class="mb-3">
              <label for="confirmar_contrasenha" class="form-label">Confirmar Nueva contraseña</label>
              <input type="password" class="form-control" id="confirmar_contrasenha" name="confirmar_contrasenha" required>
            </div>                          {% endcomment %}
            <button class="btn btn-primary mb-3" type="submit">
              Cambiar Contraseña
            </button>
          </form>                     
        </div>
      </div>
    </div>    
</main>
{% endblock %}