{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h1 class="text-center text-uppercase">Lista Pedidos</h1>
  <div class="table-responsive text-center border-bottom bg-light">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <strong>Nro.Pedido</strong>
          </th>
          <th>
            <strong>Pedido</strong>
          </th>
          <th>
            <strong>Contacto</strong>
          </th>
          <th>
            <strong>Telefono</strong>
          </th>
          <th>
            <strong>Creado Por</strong>
          </th>
          {% if tipo_usuario == 'ADMIN' or tipo_usuario == 'VENDEDOR'%}
          <th>
            <strong>Fecha Entrega</strong>
          </th>
          {% endif %}
          <th>
            <strong>PDF</strong>
          </th>
          {% if tipo_usuario == 'ADMIN' or tipo_usuario == 'VENDEDOR'%}
          <th>
            <strong>XLS</strong>
          </th>
          {% endif %}
          <th>
            <strong>Estado</strong>
          </th>
          <th>

          </th>
        </tr>
      </thead>
      <tbody>
      {% for pedido in pedidos %}
        <tr>
          <td>
            {{ pedido.id }}
          </td>
          <td>
            {{ pedido.nombre }}
          </td>
          <td>
            {{ pedido.contacto }}
          </td>
          <td>
            {{ pedido.telefono }}
          </td>
          <td>
            {{ pedido.user.username }}
          </td>
          {% if tipo_usuario == 'ADMIN' or tipo_usuario == 'VENDEDOR'%}
          <td>
            <div  class="{% if pedido.fecha_entrega >= hoy and pedido.fecha_entrega <= hoy_fin %}blink-cell{% endif %}">
              {{ pedido.fecha_entrega|date:"d/m/Y" }}
            </div>
          </td>
          {% endif %}
          <td>
            <a href="{% url 'pedidos_pdf' pedido.id %}" target="_blank"><ion-icon name="download-outline" ></ion-icon></a>
          </td>
          {% if tipo_usuario == 'ADMIN' or tipo_usuario == 'VENDEDOR'%}
          <td>
            <a href="{% url 'pedidos_xls' pedido.id %}" target="_blank"><ion-icon name="download-outline" ></ion-icon></a>
          </td>
          {% endif %}
          <td>
            {% if pedido.estado == 'PENDIENTE' %}
            <a href="{% url 'pedidos_detalle' pedido.id %}">
                <button>
                    {{ pedido.estado }}
                    <ion-icon name="create-outline" ></ion-icon>
                </button>
            </a>
            {% else %}
            {{ pedido.estado }}
            {% endif %}
          </td>
          <td>
            {% if tipo_usuario == 'ADMIN' or tipo_usuario == 'VENDEDOR'%}
              <form action="{% url 'pedidos_aprobar' pedido.id %}" method="POST">
              {% csrf_token %}
              <button>
                  {% if pedido.estado == 'PENDIENTE' %}
                  <strong> Aprobar?</strong>
                  {% else %}
                  <strong> Desaprobar?</strong>
                  {% endif %}
                  <ion-icon name="chevron-down-circle-outline"></ion-icon>
              </button>
              </form>
            {% endif %}
          </td>
        </tr>
        {% empty %}
        <tr>
          <td>No hay pedidos disponibles.<</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}