{% extends 'base.html' %}

{% block content %}

<h1>Lista Pedidos</h1>
<ul>
    {% for pedido in pedidos %}
        <li>
            <strong>Nro.Pedido: {{ pedido.id }}</strong> {{ pedido.nombre }} - {{ pedido.contacto }} - {{ pedido.telefono }}
            <br>
            <em>Creado por: {{ pedido.user.username }}</em>
            <strong> Descargar PDF</strong>
            <a href="{% url 'pedidos_pdf' pedido.id %}" target="_blank"><ion-icon name="download-outline" ></ion-icon></a> 
            <!-- <strong> Ver Detalle</strong>
            <a href="{% url 'pedidos_detalle' pedido.id %}"><ion-icon name="eye-outline" ></ion-icon></a>            -->
            <strong> Estado: {{ pedido.estado }}</strong>
            {% if pedido.estado == 'PENDIENTE' %}
            <a href="{% url 'pedidos_detalle' pedido.id %}">
                <button>
                    <strong> Modificar</strong>
                    <ion-icon name="create-outline" ></ion-icon>
                </button> 
            </a>           
            {% endif %}	
            {% if tipo_usuario == 'ADMIN' or tipo_usuario == 'VENDEDOR'%}
                <form action="{% url 'pedidos_aprobar' pedido.id %}" method="POST">
                {% csrf_token %}
                <button>
                    {% if pedido.estado == 'PENDIENTE' %}
                    <strong> Aprobar Pedido?</strong>
                    {% else %}
                    <strong> Desaprobar Pedido?</strong>
                    {% endif %}
                    <ion-icon name="chevron-down-circle-outline"></ion-icon>
                </button>
                </form>    
            {% endif %}
        </li>
    {% empty %}
        <li>No hay pedidos disponibles.</li>
    {% endfor %}
</ul>
{% endblock %}