{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col-md-4 offset-md-4 mt-5">
    <form action="/signup/" method="POST" class="card card-body">
        <h1 class="text-center">Registrarse</h1>

        <p>
        {{error}}
        </p>

        {% csrf_token %}
        <div class="mb-3">
          <label for="usuario">Usuario</label>
          <input type="text" class="form-control" id="username" placeholder="Ingrese Usuario" name="username">
        </div>
        <div class="mb-3">
          <label for="password1">Password</label>
          <input type="password" class="form-control" id="password1" placeholder="Ingrese Contraseña" name="password1">
        </div> 
        <div class="mb-3">
          <label for="password2">Confirmar Password</label>
          <input type="password" class="form-control" id="password2" placeholder="Confirme Contraseña" name="password2">
        </div>    
        <button class="btn btn-primary mb-3" type="submit">
          Registrarse
        </button>
    </form>
   </div>
</div> 
{% endblock %}